.error_popup{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  color: #FF0000;
  display: block;
  top:30px;
  left:28%;
}

@media screen and (max-width:768px)
{
  .error_popup{

    left:25%;
  }
}