.result__container{
  margin:0px 104px 64px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: center;
}
@media screen and (max-width:900px)
{
  .result__container{
    margin:0px 40px 37px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

@media screen and (max-width:700px)
{
  .result__container{
    grid-template-columns: 1fr 1fr;
    margin:0px 40px 37px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}
@media screen and (max-width:500px)
{
  .result__container{
    grid-template-columns: auto;
    margin:0px 16px 16px 16px;
    grid-row-gap: 10px;
  }
}
