@import url("./_active/header__link_active.css");
@import url("./_none/header__link_none.css");
@import url("./_inactive/header__link_inactive.css");

.header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-right: 34px;
  text-decoration: none;
  padding-bottom: 26px;
}

@media screen and (max-width: 768px) {
    .header__link {
      font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .header__link {
      font-size: 18px;
      line-height: 56px;
      color: #FFFFFF;
    }
    .header__link:last-of-type {
      margin-bottom:22px;
    }
}