@import url("./__mobile/background__mobile.css");

.background{
  background-image: url("../../images/georgia-de-lotz--UsJoNxLaNo-unsplash-min.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

