@import url("./__title/card__title.css");
@import url("./__text/card__text.css");
@import url("./__sourse/card__sourse.css");
@import url("./__image/card__image.css");
@import url("./__bookmark/card__bookmark.css");
@import url("./__date/card__date.css");
@import url("./__alert/card__alert.css");
@import url("./__keyword/card__keyword.css");

.card{
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  background: #FFFFFF;
  border-radius: 16px;
}