@media screen and (max-width:600px)
{
  .header_active
  {
    background-color: #1A1B22;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-bottom: 24px;
    position: fixed;
    top:0px;
    left:0px;
    z-index: 3;
  }
}