@import url("./__logo/header__logo.css");
@import url("./__link/header__link.css");
@import url("./__button/header__button.css");
@import url("./__menu/header__menu.css");
@import url("./__nav/header__nav.css");
@import url("./_active/header_active.css");
@import url("./__svg/header__svg.css");
@import url("./_savedArticles/header_savedArticles.css");
@import url("./_main/header_main.css");
@import url("./_center/header_center.css");

.header {
  display: flex;
  width: 100%;
  padding-top:19px;
  padding-bottom: 13px;
  align-items: center;
  z-index: 20;
}

@media screen and (max-width:600px)
{
  .header
  {
    padding-bottom: 37px;
  }
}

